@charset "UTF-8";
/* акцент сайту */
/* колір головного тексту */
/* колір додаткового тексту */
/* колір білий тексту */
/* колір білий тексту */
/* колір головного фону */
/* колір фону мобільного меню */
/* головний шрифт сайта */
/* шрифт додатковий */
body {
  font-family: "DM Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

@media screen and (max-width: 1279px) {
  .logo {
    margin-right: auto;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  background-color: #FFB8CA;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 32px 32px 18px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding: 37px 16px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1279px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
@media screen and (max-width: 1279px) {
  .nav__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0em;
  font-weight: 700;
}

.header__button-mobile {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0em;
  font-weight: 700;
  height: 44px;
  min-width: 209px;
  margin-bottom: 32px;
  background: #fff;
  border: none;
  border-radius: 22px;
  font-family: inherit;
  color: #D41443;
  -webkit-transition: color 0.3s easy 0;
  transition: color 0.3s easy 0;
}
@media screen and (min-width: 1280px) {
  .header__button-mobile {
    display: none;
  }
}

.header__button {
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0em;
  font-weight: 700;
  height: 44px;
  min-width: 159px;
  background: #fff;
  border: none;
  border-radius: 22px;
  font-family: inherit;
  color: #D41443;
  -webkit-transition: color 0.3s easy 0;
  transition: color 0.3s easy 0;
}
@media screen and (max-width: 1279px) {
  .header__button {
    margin-left: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 1279px) {
  .hidden-menu {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .menu-container {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: -webkit-transform 1250ms linear;
    transition: -webkit-transform 1250ms linear;
    transition: transform 1250ms linear;
    transition: transform 1250ms linear, -webkit-transform 1250ms linear;
    width: 100vh;
    padding: 60px 20px;
    background-color: #E17992;
    z-index: 1;
  }
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 175px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open {
  display: block;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}/*# sourceMappingURL=main.css.map */