$accent-color: #D41443; /* акцент сайту */
$text-color: #FFA5BA; /* колір головного тексту */
$text-add-color: #907E82; /* колір додаткового тексту */
$text-white: #ffffff; /* колір білий тексту */
$text-black: #000000; /* колір білий тексту */
$bg-color: #FFB8CA; /* колір головного фону */
$menu-bg-color: #E17992; /* колір фону мобільного меню */
$main-font: 'DM Sans', sans-serif; /* головний шрифт сайта */
$logo-font: 'Titan One', cursive; /* шрифт додатковий */